$background: #fbb03b;
$primary: #138073;
$secondary: #ffffff;

body {
  background: $background;
  color: $primary;
}

main {
  margin-top: 6rem;
  padding: 0 2rem;

  div {
    margin: 0 auto 1rem auto;
    max-width: 40rem;
    text-align: center;
  }

  h1 {
    font-family: serif;
    font-weight: bold;
    text-align: right;
    margin-bottom: 1rem;

    @media (min-width: 992px) {
      text-align: center;
    }
  }

  input:not([type="checkbox"]) {
    padding: 1rem;
    width: 100%;

    &::placeholder {
      color: $primary;
    }
  }

  input[type="checkbox"] {
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: middle;
  }

  a {
    color: $primary;
  }

  button {
    background: $primary;
    border: 1px solid $secondary;
    color: $secondary;
    letter-spacing: 0.2rem;
    padding: 1.5rem 6rem;
    text-transform: uppercase;
  }
}

#navigation {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

#hamburger-container {
  justify-content: flex-end;
  align-items: flex-start;

  #hamburger {
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    background: $primary;

    @media (min-width: 992px) {
      height: 6rem;
      width: 6rem;
    }

    &:focus {
      box-shadow: none;
    }

    svg {
      color: $secondary;
      stroke: $secondary;
      stroke-width: 1;
      width: 100%;
    }
  }
}

#navbarNavAltMarkup {
  .navbar-nav {
    width: 240px;
    background: $secondary;
    border-radius: 0.5rem;
    padding: 0 2rem;
    margin: 1rem;
  }
}
